body {
  background-color: #1D1E20;
  color: #FFFFFF;
  line-height: 1.65;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
}

ol {
	padding: 0px 2px;
	margin: 0;
	padding-left: 1rem;
}

ol li {
	list-style: decimal;
	list-style-position: outside;
	margin-left: 1em;
	padding: 0;
}

ol li:not(:last-child) {
	margin-bottom: 0.5rem;
}

ul {
	margin: 0;
	padding: 0;
}

ul li {
	list-style-position: outside;
	margin-left: 1em;
}

ul li:not(:last-child) {
	margin-bottom: 0.5rem;
}

ul>li::marker {
	color: var(--clr-grey);
}

a {
  font-decoration: underline;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 1rem 0;
}

figcaption {
  font-size: 0.8rem;
  color: var(--clr-grey);
  margin-top: 0.5rem;
}

image {
  max-width: 70%; 
  margin: auto;
}

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #1D1E20;
}

#discord-status {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1rem;
  height: 1rem;
  transition: all 0.35s;
  overflow: hidden;
}

#discord-status:hover {
  height: 1.8rem;
}

#discord-status-text {
  white-space: nowrap;
  width: fit-content;
  padding: 1rem 0rem 1rem 0.2rem;
  transform: translateY(1rem);
}

#discord-status:hover #discord-status-text {
  color: white;
  transform: translateY(0);
}
